default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        Behat\MinkExtension:
            show_cmd: 'open %s'
            base_url: "https://127.0.0.1/"
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
