{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    <div class="mb-3 alert alert-success">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endblock %}
