{% trans_default_domain 'app' %}
{% extends 'base.html.twig' %}

{% block title %}{{ "Home"|trans }}{% endblock %}

{% block body %}
    <div class="mb-3 alert alert-success">
        {{ "You are logged in as {username}, {link_open}Logout{link_close}"|trans({
            "username": app.user.username,
            "link_open": "<a href=\"#{path("app_logout")}\">",
            "link_close": '</a>'
        })|raw }}
    </div>
{% endblock %}
